@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
  --cursor-x: 50vw;
  --cursor-y: 50vh;
}

html {
  scroll-behavior: smooth;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vh;
  height: 80vh;
  background: radial-gradient(circle, rgba(0, 191, 255, 0.06) 0%, transparent 70%);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(calc(var(--cursor-x) - 40vh), calc(var(--cursor-y) - 40vh));
  transition: transform 0.3s ease-out;
  z-index: 9999;
  mix-blend-mode: normal;
  opacity: 1;
}
